:root{
    /* color:     */
        --light-odoo-color: #875A7B;
        --dark-odoo-color: #62495B;
        --gray-color: #8F8F8F;
        --action-color: #00A09D;      /*Primary/Action*/
    
    /* background: */
        --light-gray-color: #F9F9F9;
        --pure-white-color: #FFFFFF;

    /* typo: */
        --headings-color: #21272B;
        --body-color: #282F33;
        --muted-color: #6B6D70;
        
        --nav-font:22px;
        --tree-font:18px;
        --action-font:16px;
        --text-font:13px;
        
        --xxs:calc(320px/12);
        --xs:calc(480px/12);
        --s:calc(768px/12);
        --m:calc(992px/12);
        --l:calc(1200px/12);
    }