:root{
    /* odoo colors */
    --pure-white-color: #FFFFFF;
    --light-gray-color: #F9F9F9;
    --middle-gray-color:#d4d4d4;
    --gray-color: #8F8F8F;
    --dark-gray-color: #6B6D70;
    --burned-gray-color: #282F33;
    --dark-burned-gray-color: #21272B;


    --light-action-color: #00A09D;
    --dark-action-color:#006866;
    --light-odoo-color: #875A7B;
    --dark-odoo-color: #62495B;
        /* background: */

        --body-color:var(--light-gray-color);
        --header-color:var(--pure-white-color);
        --border-color:var(--gray-color);
        --place-holder-color:var(--middle-gray-color);
        --button-color:var(--light-action-color);
        --button-hover-color:var(--dark-action-color);
        --disabled-color:var(--dark-gray-color);
        --under-line-color:var(--burned-gray-color);
        --text-color:var(--dark-burned-gray-color);

        --nav-font:22px;
        --tree-font:18px;
        --action-font:13px;
        --text-font:13px;
        
        --xxs:calc(320px/12);
        --xs:calc(480px/12);
        --s:calc(768px/12);
        --m:calc(992px/12);
        --l:calc(1200px/12);
    }