/*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/
/*=== === === === === === === === === === startHeader === === === === === === === === === === === =*/

header.grand{
    background-color:var(--header-color);
    border-bottom:1px solid var(--border-color);
    padding: 5px 0;
}
header.grand .container .parent{
    display: flex;
    flex-wrap: wrap;
}
header.grand .container .parent article{
    width:50%;
    display: flex;
    align-items: center;
}
ul,li,a{
    display: flex;
}
/*-----------------------------------------*/
/*Tree*/
header.grand .container .parent article.tree{
    margin-bottom:10px;
}
header.grand .container .parent article.tree ul{
    flex-wrap: wrap;
    align-items: center;
}
header.grand .container .parent article.tree ul li{
    align-items: center;
    font-size: var(--tree-font);
}
header.grand .container .parent article.tree ul li span{
    font-size: calc(var(--tree-font)*1.3);
    font-weight:600;
    color:var(--disabled-color);
    
}
header.grand .container .parent article.tree a{
    padding: 5px 10px;
    text-decoration: none;
    color:var(--button-color);
}
header.grand .container .parent article.tree a:hover{
    color:var(--text-color);
}
header.grand .container .parent article.tree > span{
    color: var(--disabled-color);
    padding: 5px 10px;
}
/*Tree*/
/*----------------------------------------------*/

/*----------------------------------------------*/
/*Search*/
header.grand .container .parent article.search{
    margin-bottom:10px;
}
header.grand .container .parent article.search input{
    width: 100%;
    border: none;
    background-color:transparent;
    padding:5px;
    border-bottom: 1px solid var(--under-line-color);
    font-size: 15px;
}
header.grand .container .parent article.search input::placeholder{
    color: var(--place-holder-color);
}

/*search*/
/*----------------------------------------------*/

/*----------------------------------------------*/
/*button*/
header.grand .container .parent article.buttons ul{
    flex-wrap: wrap;
    flex-basis: 100%;
    align-items: center;
}
header.grand .container .parent article.buttons a{
    padding: 5px 10px;
    text-decoration: none;
}
header.grand .container .parent article.buttons a.defult{
    color:var(--header-color);
    background-color:var(--button-color);
}
header.grand .container .parent article.buttons a.not-defult{
    color:var(--button-color);
}
header.grand .container .parent article.buttons a.defult:hover{
    background-color:var(--dark-action-color);
}
header.grand .container .parent article.buttons a.not-defult:hover{
    color:var(--headings-color);
    background-color:var(--place-holder-color);
}
/*button*/
/*----------------------------------------------*/

/*----------------------------------------------*/
/*filters*/


header.grand .container .parent article.filters{
    
}
header.grand .container .parent article.filters {
    
}

/*filters*/
/*----------------------------------------------*/
/*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -*/
/*=== === === === === === === === === === endHeader === === === === === === === === === === === ===*/
